@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/CalSans-SemiBold.woff2") format("woff2");
}

@theme inline {
  --font-sans: "Inter", "sans-serif";
  --font-mono: "Source Code Pro", "monospace";
  --font-alt: "Courier", "sans-serif";
  --font-display: "Cal Sans", "sans-serif";
}
